<html>
    <head>
      <!-- needed for bootstrap -->
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Repeat Counter Form Home Page </title>
    </head>
    <body>
        <div class='container'>
            <h1>How many times is the word repeating in a sentence?</h1>
            <!-- this is the home page -->
            <form action='/count_repeats'>
                <div class='form-group'>
                    <label for='word'>Insert a input word:</label>
                    <input id='word' name='word' type='text' class='form-control'>
                </div>

                <div class='form-group'>
                    <label for='string'> Add a string of words:</label>
                    <input id='string' name='string' type='text' class='form-control'>
                </div>
                <button type='submit' class='btn-danger'>How many words did you repeat?</button>
            </form>
        </div>
    </body>
</html>
