<html>
    <head>
      <!-- needed for bootsrap -->
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>

        <title>Repeat Word Counter</title>
    </head>
    <body>
        <div class='container-fluid'>
          <!-- use twig to insert result! -->
            <h1>You repeated {{ result }} word(s)!</h1>

            <!-- submit button -->
            <a href='/'><button type='submit' class='btn btn-warning'> Try Again</buttom></a>
        </div>
    </body>
</html>
